.big{
    display: grid;
    width: 100vw;
    height: 100vh;
}
.container {
    width: 90%;
    max-width: 1300px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 260px repeat(3, 130px);
    gap: 43px 20px;
    font-size: 2rem;
}


.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    grid-column: span 4;
    background-color: #c4c4c4;
}

.container :first-child {
    grid-column: 1 / span 12;
}

@media (max-width:744px) and (min-width:415px) {
    .container {
        grid-template-rows: 360px repeat(3, 130px);
    }

    .container>div {
        grid-column: span 3;
    }

    .container :nth-last-child(9) {
        grid-column: span 6;
        grid-row: span 2;
    }
}

@media (max-width:414px) {
    .container {
        gap: 20px 10px;
        grid-template-rows: 152px repeat(6, 80px);
    }

    .container :first-child {
        border-radius: 15px;
    }

    .container>div {
        grid-column: span 6;
    }

    .container div:nth-of-type(3n+4) {
        grid-column: span 12;
    }

    .container div:nth-of-type(1n+2) {
        height: 88px;
    }
}